# Cấu hình Kết nối Database MySQL cho hệ thống bãi xe
DB_SERVER=localhost
DB_PORT=3306
DB_NAME=parking_db
DB_USER=root
DB_PASSWORD=YOUR_PASSWORD_HERE
RECAPTCHA_SECRET_KEY=6LduaggtAAAAAAIaxj8BDPyzTlAQgHAH8ZaAfcSU
VITE_RECAPTCHA_SITE_KEY=6LduaggtAAAAANjcXXhl6KCToEaBCvrXdj5IWWoY
JWT_SECRET_KEY=ParkingManagement_Super_Secret_Key_2026

