DB_SERVER=localhost
DB_PORT=3306
DB_NAME=parking_db
DB_USER=root
DB_PASSWORD=123456
RECAPTCHA_SECRET_KEY=6LduaggtAAAAAAIaxj8BDPyzTlAQgHAH8ZaAfcSU
VITE_RECAPTCHA_SITE_KEY=6LduaggtAAAAANjcXXhl6KCToEaBCvrXdj5IWWoY
JWT_SECRET_KEY=ParkingManagement_Super_Secret_Key_2026

Google__ClientId=383942521905-i3c2dtg9vjpsbla7ceg8hj62725domop.apps.googleusercontent.com
Google__ClientSecret=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

MailSettings__Mail=mlemmlem20252026@gmail.com
MailSettings__DisplayName=Parking Management System
MailSettings__Password=wgfhboelodujeecw
MailSettings__Host=smtp.gmail.com
MailSettings__Port=587

VNPay__TmnCode=BMHHU8LO
VNPay__HashSecret=GKQFCXJ8BNWW24NEF6QM0HKTS40ZZZ7E
VNPay__BaseUrl=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
VNPay__ReturnUrl=http://localhost:5173/user/bookings